.main-heading {
  font-size: 6em;
}

.my-pic {
  max-width: 70%;
}

.ext-icon {
  max-width: 32px;
  position: relative;
  display: block;
}

.ext-icon {
  max-width: 32px;
  position: relative;
  display: block;
}

.ext-icon:hover{
  background-color: #ddd;
}



.nav-menu li {
  display: none;
}

.nav-menu {
  background-color: white;
}

.nav-icon {
  width: 10%;
  margin-left: 1em;
}

.nav-icon:hover {
  /*border-radius: 100%;
  border: 1px dashed black;*/
  background-color: #ddd;
}

.sub-headings {
  margin: 0 auto .1em auto;
}

p.last {
  margin-bottom: 2em;
}

.entry-img {
  width: 100%;
}

#main {
  text-align: center;
  margin: 1% 12%;
  padding: 2% 4%;
  background-color: #384038;
  color: white;
}

#home {
  max-width: 32px;
  position: relative;
  display: block;
}

#social {
  position: fixed;
  top: 10%;
  left: 2.5%;
}

a {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
  transition: all 0.35s ease;
}

a:hover {
  color: yellow;
  cursor: pointer;
}
